### Raw Data: Omicron daily cases by country (COVID-19 variant) in Kaggle

Tracking the progression of the new omicron COVID-19 variant
The data
location- this is the country for which the variants information is provided;
date - date for the data entry;
variant - this is the variant corresponding to this data entry;
num_sequences - the number of sequences processed (for the country, variant and date);
perc_sequences - percentage of sequences from the total number of sequences (for the country, variant and date);
numsequencestotal - total number of sequences (for the country, variant and date);
Acknowledgements

In [76]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from numpy import nan as NA
import matplotlib.pyplot as plt # to seaborn
import seaborn as sns

In [20]:
data = pd.read_csv("C:/lily_git/covid-variants.csv")

In [23]:
data

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3
...,...,...,...,...,...,...
100411,Zimbabwe,2021-11-01,Omicron,0,0.0,6
100412,Zimbabwe,2021-11-01,S:677H.Robin1,0,0.0,6
100413,Zimbabwe,2021-11-01,S:677P.Pelican,0,0.0,6
100414,Zimbabwe,2021-11-01,others,0,0.0,6
100415,Zimbabwe,2021-11-01,non_who,0,0.0,6

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100416 entries, 0 to 100415
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   location             100416 non-null  object
 1   date                 100416 non-null  object
 2   variant              100416 non-null  object
 3   num_sequences        100416 non-null  int64
 4   perc_sequences       100416 non-null  float64
 5   num_sequences_total  100416 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 4.6+ MB

In [33]:
data.describe()

       num_sequences  perc_sequences  num_sequences_total
count  100416.000000   100416.000000        100416.000000
mean       72.171676        6.154355          1509.582457
std      1669.262169       21.898989          8445.291772
min         0.000000       -0.010000             1.000000
25%         0.000000        0.000000            12.000000
50%         0.000000        0.000000            59.000000
75%         0.000000        0.000000           394.000000
max    142280.000000      100.000000        146170.000000

In [46]:
data['location'].value_counts('location',None)

Angola           0.006692
Argentina        0.010516
Aruba            0.005975
Australia        0.010516
Austria          0.010277
                   ...
United States    0.010755
Uruguay          0.005736
Vietnam          0.005019
Zambia           0.008126
Zimbabwe         0.006692
Name: location, Length: 121, dtype: float64

In [58]:
data_pivot = data.pivot_table(index = 'date', columns = "location", values = 'num_sequences')
data_pivot

location,Angola,Argentina,Aruba,Australia,Austria,Bahrain,Bangladesh,Belgium,Belize,Benin,...,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-05-11,NaN,12.583333,NaN,12.333333,2.833333,NaN,10.333333,11.166667,NaN,NaN,...,7.916667,2.250000,0.166667,11.083333,396.083333,483.666667,0.250000,NaN,0.333333,2.916667
2020-05-25,NaN,13.916667,NaN,8.583333,3.416667,NaN,14.000000,5.583333,NaN,NaN,...,6.166667,0.083333,0.750000,74.250000,230.583333,394.666667,1.166667,NaN,NaN,NaN
2020-06-08,NaN,5.583333,NaN,7.833333,0.083333,0.083333,5.750000,1.250000,NaN,NaN,...,2.750000,NaN,1.916667,1.500000,146.750000,336.250000,0.916667,NaN,1.750000,3.416667
2020-06-22,NaN,6.583333,NaN,14.333333,0.083333,0.166667,9.250000,3.166667,NaN,NaN,...,1.750000,NaN,NaN,8.833333,393.000000,505.833333,1.250000,NaN,2.083333,NaN
2020-07-06,0.250000,5.250000,NaN,67.833333,0.166667,0.916667,14.583333,3.250000,NaN,NaN,...,1.666667,0.333333,1.166667,12.583333,190.500000,697.583333,1.083333,NaN,2.416667,NaN
2020-07-20,NaN,9.416667,NaN,227.750000,0.916667,NaN,11.583333,3.250000,NaN,NaN,...,0.083333,0.166667,0.250000,0.333333,90.666667,843.500000,1.000000,NaN,5.166667,NaN
2020-08-03,NaN,8.583333,NaN,348.583333,0.750000,0.250000,5.500000,12.166667,NaN,NaN,...,0.833333,0.750000,0.250000,NaN,99.166667,650.083333,0.583333,NaN,15.333333,2.000000
2020-08-17,NaN,9.416667,0.333333,251.666667,1.833333,NaN,2.166667,10.833333,0.333333,NaN,...,0.333333,2.583333,0.833333,0.500000,196.416667,499.291667,0.083333,NaN,5.208333,0.416667
2020-08-31,0.041667,11.500000,0.083333,165.583333,3.666667,0.250000,2.083333,4.500000,0.083333,NaN,...,0.833333,2.250000,NaN,5.375000,345.333333,407.291667,NaN,NaN,2.916667,0.583333
2020-09-14,NaN,4.166667,NaN,64.166667,2.916667,0.166667,2.916667,7.250000,NaN,NaN,...,0.916667,3.083333,NaN,2.000000,472.250000,363.250000,NaN,NaN,0.166667,0.625000
2020-09-28,0.458333,4.666667,NaN,26.916667,3.250000,0.166667,0.666667,20.500000,0.166667,NaN,...,0.916667,0.833333,0.166667,3.250000,810.041667,422.666667,0.500000,NaN,NaN,NaN
2020-10-12,1.416667,3.250000,NaN,15.166667,2.500000,0.833333,1.666667,10.833333,0.333333,NaN,...,0.166667,0.666667,0.250000,5.666667,966.208333,479.416667,0.166667,NaN,0.333333,0.416667
2020-10-26,0.291667,8.500000,NaN,11.000000,7.000000,3.750000,1.250000,30.250000,0.500000,NaN,...,0.166667,0.166667,0.166667,4.666667,1347.708333,625.875000,NaN,NaN,0.083333,0.333333
2020-11-09,NaN,4.791667,NaN,5.250000,15.083333,0.500000,2.166667,17.000000,0.083333,NaN,...,NaN,2.166667,NaN,1.750000,1479.541667,1040.541667,0.250000,NaN,NaN,0.083333
2020-11-23,NaN,5.208333,NaN,5.333333,13.250000,3.166667,2.500000,20.083333,NaN,NaN,...,2.666667,2.416667,0.083333,5.458333,1443.291667,1121.708333,0.166667,NaN,NaN,0.041667
2020-12-07,0.250000,4.083333,NaN,4.041667,11.333333,NaN,4.750000,12.208333,NaN,NaN,...,0.083333,0.166667,0.083333,4.708333,660.750000,1082.291667,0.666667,NaN,0.166667,0.041667
2020-12-21,4.833333,5.916667,NaN,11.333333,3.750000,NaN,2.083333,28.833333,0.583333,NaN,...,2.000000,3.250000,NaN,3.208333,1437.000000,1571.583333,1.083333,NaN,0.500000,1.541667
2021-01-04,0.416667,4.041667,NaN,16.083333,25.583333,NaN,4.291667,17.791667,1.166667,NaN,...,4.958333,4.916667,3.750000,11.041667,1062.791667,1673.083333,0.916667,0.083333,0.875000,8.250000
2021-01-11,1.291667,2.708333,NaN,4.875000,9.333333,NaN,0.958333,21.541667,0.583333,NaN,...,0.666667,NaN,2.250000,5.250000,654.083333,1399.166667,1.250000,0.041667,1.291667,4.958333
2021-01-25,4.125000,5.083333,2.041667,6.125000,13.208333,NaN,4.791667,89.333333,1.250000,NaN,...,12.666667,2.083333,2.083333,8.333333,1491.666667,2844.833333,4.166667,NaN,1.708333,2.500000
2021-02-08,2.833333,5.250000,9.000000,3.291667,25.125000,0.083333,3.166667,117.375000,2.125000,5.958333,...,18.750000,0.166667,NaN,17.166667,1501.500000,2448.541667,5.000000,0.125000,2.166667,1.541667
2021-02-22,2.541667,4.500000,10.625000,3.750000,24.041667,0.125000,2.333333,106.583333,0.875000,NaN,...,79.916667,0.583333,0.291667,0.666667,1422.750000,2457.000000,4.416667,0.333333,3.208333,0.041667
2021-03-08,6.250000,4.666667,6.708333,4.208333,23.541667,NaN,0.708333,116.416667,0.166667,6.416667,...,87.958333,0.625000,1.208333,NaN,1293.791667,2543.291667,7.541667,NaN,0.333333,0.333333
2021-03-22,5.875000,12.375000,4.583333,7.083333,26.458333,0.333333,7.500000,137.250000,0.125000,NaN,...,59.875000,0.708333,1.500000,NaN,1492.791667,3010.416667,2.750000,NaN,0.208333,NaN
2021-04-05,6.958333,11.666667,3.958333,6.750000,12.791667,0.083333,4.000000,154.083333,NaN,10.708333,...,105.166667,1.375000,0.125000,NaN,1246.208333,3504.375000,4.416667,NaN,0.375000,NaN
2021-04-19,4.541667,17.708333,6.458333,6.875000,15.875000,2.083333,5.750000,127.625000,0.125000,0.583333,...,1.041667,1.208333,NaN,NaN,670.208333,3831.041667,8.166667,NaN,0.125000,NaN
2021-05-03,1.625000,17.291667,6.166667,9.708333,14.875000,0.375000,2.500000,147.208333,0.083333,1.833333,...,11.875000,0.625000,NaN,0.208333,600.833333,3131.750000,1.750000,0.625000,0.875000,NaN
2021-05-17,0.250000,15.958333,4.291667,5.458333,27.291667,2.458333,2.625000,134.333333,0.791667,2.375000,...,23.916667,0.791667,0.208333,NaN,606.708333,2322.916667,NaN,2.416667,NaN,NaN
2021-05-31,0.291667,13.083333,4.500000,4.750000,17.125000,2.000000,4.500000,126.625000,0.166667,2.000000,...,23.041667,0.875000,0.875000,NaN,996.875000,1303.833333,NaN,1.083333,3.625000,NaN
2021-06-14,0.916667,17.416667,3.708333,5.875000,17.500000,1.041667,3.083333,84.416667,0.041667,0.666667,...,14.833333,7.375000,0.125000,0.083333,1558.625000,907.791667,NaN,0.583333,3.916667,NaN
2021-06-28,2.500000,16.125000,1.000000,10.583333,31.875000,3.500000,4.833333,49.875000,1.750000,0.958333,...,66.875000,5.000000,1.916667,0.833333,1813.375000,977.916667,NaN,0.250000,0.916667,0.125000
2021-07-12,2.000000,14.875000,1.208333,32.125000,21.125000,2.875000,10.250000,111.250000,0.875000,1.666667,...,174.500000,0.500000,1.416667,NaN,2340.166667,1594.625000,NaN,NaN,2.916667,1.750000
2021-07-26,0.458333,14.166667,4.041667,72.583333,32.125000,4.458333,7.250000,165.416667,3.291667,1.916667,...,87.291667,0.666667,1.333333,NaN,2384.416667,3359.583333,NaN,2.791667,1.708333,1.458333
2021-08-09,0.166667,20.125000,14.208333,113.916667,25.958333,2.041667,6.208333,167.083333,3.583333,1.458333,...,754.666667,0.750000,NaN,NaN,2689.208333,6130.291667,NaN,4.416667,0.708333,0.791667
2021-08-23,0.041667,18.625000,21.875000,133.250000,26.041667,NaN,5.833333,189.000000,0.833333,3.291667,...,1551.958333,0.208333,NaN,NaN,2665.375000,5470.750000,NaN,5.791667,0.291667,0.750000
2021-09-06,0.833333,18.708333,10.875000,156.041667,24.375000,9.458333,5.458333,187.500000,NaN,2.458333,...,54.958333,NaN,0.416667,NaN,3214.291667,5747.375000,NaN,35.916667,1.541667,0.583333
2021-09-20,2.375000,13.083333,5.833333,146.916667,21.375000,NaN,5.250000,129.750000,NaN,NaN,...,113.083333,NaN,1.708333,NaN,3212.125000,5643.791667,NaN,2.625000,0.041667,0.250000
2021-10-04,1.375000,9.958333,7.375000,76.041667,18.500000,7.750000,3.916667,121.958333,NaN,NaN,...,125.333333,NaN,0.500000,NaN,3147.291667,4669.666667,NaN,3.666667,NaN,0.083333
2021-10-18,NaN,15.083333,1.541667,100.416667,18.208333,15.500000,5.666667,138.166667,NaN,NaN,...,71.500000,NaN,0.083333,NaN,3197.500000,4515.000000,NaN,2.416667,NaN,0.208333
2021-11-01,NaN,23.083333,NaN,78.458333,26.416667,19.458333,3.916667,147.291667,NaN,NaN,...,15.041667,NaN,4.416667,NaN,3586.375000,4387.541667,NaN,3.416667,NaN,0.250000
2021-11-15,NaN,13.875000,2.833333,86.583333,23.375000,15.416667,4.916667,113.708333,NaN,NaN,...,101.083333,NaN,0.416667,NaN,4039.791667,4922.416667,NaN,2.875000,NaN,NaN
2021-11-29,NaN,4.875000,1.791667,83.000000,6.875000,NaN,4.666667,128.250000,NaN,NaN,...,99.333333,NaN,2.000000,NaN,4699.583333,4206.708333,NaN,2.458333,NaN,NaN
2021-12-13,NaN,3.625000,2.541667,116.750000,7.625000,NaN,1.875000,128.625000,NaN,NaN,...,115.916667,0.041667,0.333333,NaN,5308.458333,4276.333333,NaN,1.458333,1.625000,NaN
2021-12-27,NaN,4.000000,NaN,71.958333,NaN,NaN,1.000000,62.375000,NaN,NaN,...,87.625000,NaN,0.041667,NaN,3337.916667,2057.916667,NaN,2.083333,0.291667,NaN
2022-01-05,NaN,NaN,NaN,NaN,NaN,NaN,0.125000,2.458333,NaN,NaN,...,NaN,NaN,NaN,NaN,23.416667,1.458333,NaN,NaN,NaN,NaN

https://data-make.tistory.com/138